# UDG-Proyectos Environment Configuration Template

#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------
CI_ENVIRONMENT = development

#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------
app.baseURL = 'http://localhost/udg-proyectos/public/'
app.forceGlobalSecureRequests = false

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------
database.default.hostname = localhost
database.default.database = tesis_udg
database.default.username = root
database.default.password = 
database.default.DBDriver = MySQLi
database.default.DBPrefix = 
database.default.port     = 3306

#--------------------------------------------------------------------
# SECURITY
#--------------------------------------------------------------------
# app.CSRFProtection = true
# app.CSPEnabled = false
